<a href="https://colab.research.google.com/github/wooihaw/ai_with_python_2024/blob/main/handson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Hands-on 1
#### This hands-on provides a quick introduction to Python

## Variables

In [1]:
# Defining variables
a = 10
b = 'string_b'
c = 0.999

In [2]:
# Use print to show the values
print(a, b, c)

10 string_b 0.999

In [3]:
# Check the data type of the variables
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [4]:
# Swapping two variables
a, b = 10, 20
a, b = b, a

print(a, b)

20 10

## Conditional Logic

In [5]:
a = 10

if a >= 5:
    print('a >= 5 is true')
else:
    print('a >= 5 is false')

a >= 5 is true

In [6]:
a = 3

if a >= 5:
    print('a >= 5 is true')
elif a < 0:
    print('a < 0 is true')
else:
    print('Both statements are false')

Both statements are false

## Loop

In [7]:
# for loop
# Use range(10) to go from 0 to 9
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
# Use range(10, 100, 5) to start from 10 and move with increments of 5
for i in range(5, 100, 5):
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [9]:
# while loop: run while the condition is True
cnt = 0

while cnt < 5:
    print(cnt)
    cnt = cnt + 1

0
1
2
3
4

## String

In [10]:
# Various way to define a string
a = "How are you today?"
b = 'How are you today?'
c = "How're you today?"
d = '''A long string that
spans a few lines can be
enclosed in triple quotes.'''

print(a)
print(b)
print(c)
print(d)

How are you today?
How are you today?
How're you today?
A long string that
spans a few lines can be
enclosed in triple quotes.

In [11]:
a = 'Hello'
b = 'World'

# String concatenation
print(a + b)

# String repetition
print('Hello' * 3)

HelloWorld
HelloHelloHello

In [12]:
a = 'Hello, how are you'
# Print all alphabets as uppercase
print(a.upper())

# Print all alphabets as lowercase
print(a.lower())

# Print each word with titlecase
print(a.title())

HELLO, HOW ARE YOU
hello, how are you
Hello, How Are You

In [13]:
# String indexing
s = 'apple pie'

print(s[0])  # first character
print(s[8])  # last character
print(s[-9]) # also first character
print(s[-1]) # also last character

a
e
a
e

In [14]:
# String formatting
quantity, fruit, price = 5, 'apples', 7.5

print(f"{quantity} {fruit} cost RM{price:.2f}")

5 apples cost RM7.50

## List

In [15]:
# create a list with numbers
numbers = [1, 2, 3, 5, 7, 11, 13]

# Getting first element from the list
first = numbers[0]
print(first)

1

In [16]:
# Changing one element of the list
numbers[1] = -2
print(numbers)

[1, -2, 3, 5, 7, 11, 13]

In [17]:
# Use -1 to access the last element, -2 to access the one before last and so on
print(numbers[-1], numbers[-2])

13 11

In [18]:
# Iterating over a list using for loop
for n in numbers:
    print(n)

1
-2
3
5
7
11
13

In [19]:
# Iterating over a list using range
for i in range(len(numbers)):
    n = numbers[i]
    print(f"numbers[{i}] = {n}")

numbers[0] = 1
numbers[1] = -2
numbers[2] = 3
numbers[3] = 5
numbers[4] = 7
numbers[5] = 11
numbers[6] = 13

In [20]:
# Combininig two lists into one
list1 = [1, 2, 3, 5]
list2 = [7, 11, 13, 17]
list1 = list1 + list2

print(list1)

[1, 2, 3, 5, 7, 11, 13, 17]

In [21]:
# Creating a list of lists
list1 = [1, 2, 3, 5]
list2 = [7, 11, 13, 17]
list3 = [19, 23, 27, 29]

lists = [list1, list2, list3]

print(lists)

[[1, 2, 3, 5], [7, 11, 13, 17], [19, 23, 27, 29]]

In [22]:
# Print each sub-list
for l in lists:
    print(l)

[1, 2, 3, 5]
[7, 11, 13, 17]
[19, 23, 27, 29]

## Dictionary

In [23]:
# Dictionaries map keys to values
words_to_numbers = {'one': 1, 'two': 2, 'three': 3}

# Accessing the value by its key
print(words_to_numbers['one'])

1

In [24]:
# If the key is not in the dictionary, an error occurs
print(words_to_numbers['five'])

KeyError: 'five'

In [25]:
# To check if the key is in the dictionary, use in
if 'five' in words_to_numbers:
    print(words_to_numbers['five'])
else:
    print('not in the dictionary')

not in the dictionary

In [26]:
# Use get(key, default_value) to return the default value if the key isn't present
val = words_to_numbers.get('five', -1)
print(val)

-1

In [27]:
# Iterating over keys of the dictionary
for k in words_to_numbers.keys():
    v = words_to_numbers[k]
    print(f"{k}: {v}")

one: 1
two: 2
three: 3

## Exception Handling

In [28]:
# Without exception handling
num = int(input('Enter a number: '))
print(f'You have entered {num}')
print('Goodbye!')

Enter a number: abc

ValueError: invalid literal for int() with base 10: 'abc'

In [29]:
# With exception handling
try:
    num = int(input('Enter a number: '))
except:
    print('Not a number!')
else:
    print(f'You have entered {num}')
finally:
    print('Goodbye!')

Enter a number: abc
Not a number!
Goodbye!