<a href="https://colab.research.google.com/github/wooihaw/ai_with_python_2024/blob/main/handson_3a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Hands-on 3a
#### This hands-on explores the encoding of categorical data and data imputation

In [ ]:
# Initialization
%matplotlib inline
from warnings import filterwarnings
filterwarnings('ignore')

In [ ]:
# Load libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split as split
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
# Load dataset from csv file and show the first 5 rows of data
df = pd.read_csv("https://raw.githubusercontent.com/wooihaw/ai_with_python_2024/main/income.csv")
df.head()

**To do:**
- Check the number of rows and columns using info()
- Print the number of duplicated rows using duplicated().sum()

**To do:**
- Remove duplicated rows if there are any by using drop_duplicates()
- Check the number of remaining rows using info()

**To do:**
- Check the number of missing values for each column using isna().sum()

**To do:**
- Calculate descriptive statistics using describe()

**To do:**
- Replace missing values with NaN using replace()
- Check the number of missing values for each column using isna().sum()
- Print the first 5 rows of the resulting dataframe (df) using head()

**To do:**
- Check and print the unique values in the "Education" column using unique()

**To do:**
- Define mapping for ordinal data using a Python dictionary
- Encode ordinal data using map().
- Print the first 5 rows of the resulting dataframe using head().

**To do:**
- Use pd.get_dummies() to encode nominal data using one-hot encoding and store the resulting dataframe in df1.
- Print first 5 rows of df1 and verify that the resulting dataframe is correct by using head().

**To do:**
- Rectify the problem in the previous step using str.upper()
- Use pd.get_dummies() to encode nominal data using one-hot encoding and store the resulting dataframe in df2.
- Print the first 5 rows of df2.

**To do:**
- Impute missing data with median value of the column using fillna()
- Check the number of missing values for each column using isna().sum()

In [ ]:
# Save preprocessed data to csv file
df2.to_csv("income_processed.csv", index=False)